---
import Layout from "../../layouts/Layout.astro";
import { getCollection, CollectionEntry } from "astro:content";

const allBylines = await getCollection('bylines');

interface Props {
  client: CollectionEntry<"bylines">
}

---
<Layout title="Published Bylines">

  <section class=" bg-red-200 mx-auto h-screen">
    <div class="">
      {allBylines.map((bylines) => 
        <h1 class="font-bold text-xl text-black text-center max-w-none">{bylines.data.title}</h1>
        )}
    </div>
  </section>
 
  <!-- <section class="text-gray-600 bg-white body-font overflow-hidden ">
    <div class="container px-5 py-24 mx-auto">
      <div class="my-8 divide-y-2 divide-gray-100">
        {allBylines.map((bylines) => 
          <div class="py-8 flex flex-nowrap md:flex-nowrap ">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold title-font text-gray-700">{bylines.data.tags}</span>
              <span class="mt-1 text-gray-500 text-sm">Feb. 18, 2021</span>
              <span><a href={`/bylines/${bylines.slug}`}>Direct Link</a></span>
          </div>
          <div class="">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{bylines.data.title}</h2>
            <p class="leading-relaxed">{bylines.data.summary}</p>
            
          </div>
        </div>
        )}
      </div>
    </div>
  </section> -->

  

</Layout>
  
      
<!-- 
  Arrow SVG:
    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path d="M5 12h14"></path>
      <path d="M12 5l7 7-7 7"></path>
    </svg> 
-->