---
import { type CollectionEntry, getEntryBySlug } from "astro:content"

type Props = {
    client: CollectionEntry<'clients'>;
}

const { client } = Astro.props;

---
<section class="min-w-full">
    <article>
        <a href={`/clients/${client.slug}`}>
            <img
                src={client.data.image}
                width={600}
                alt={client.data.title}
                class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
                />
        </a>
        <a href={`/clients/${client.slug}`}
            class="text-4xl text-zinc-900 font-semibold inline-block">
            <h2>{client.data.title}</h2>
        </a>
        <p class="text-zinc-500 text-2xl line-clamp-2">
            {client.body}
        </p>
    </article>
</section>
