---
import "../styles/main.css";
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { title, description } = post.data;


---

<article class="post-card">
  <div>
    <h2>{title}</h2>
    <!-- <div class="meta">
      <Image src={authorData.headshot} alt={authorData.name} width="25" />
      <p>{authorData.name}</p>
      <span>•</span>
      <time datetime={date.toISOString()}
        >{
          date.toLocaleDateString(undefined, {
            dateStyle: "medium",
            timeZone: "UTC",
          })
        }</time
      >
    </div> -->
  </div>
  <p>{description}</p>
  <a href={`/blog/${post.slug}`} class="btn">Read Post</a>
</article>
